/* styles go here */
.input-row {
  margin-bottom: 10px;
}

.input-row:last-child {
  margin-bottom: 0;
}

.inputs-block {
  margin-bottom: 20px;
}

.radio {
  display: inline-block;
  margin-bottom: 10px;
}
